<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	<script src="${themeDisplay.pathThemeRoot}/js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		var jQuery171=jQuery.noConflict(true);
	</script>

	$theme.include($top_head_include)
</head>

<body class="$css_class">

$theme.include($body_top_include)

#if ($is_signed_in)
	#if ($themeDisplay.showPageSettingsIcon)
		#dockbar()
    #end
#end

<div class="container-fluid" id="wrapper">
    #if ($is_signed_in)
	<div class="head-location">
		病区：<span id="location-name">加载病区中</span>
	</div>
    #end

    <div class="oc_logo">
		<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
			<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
		</a>
    </div>

    #if ($is_signed_in)
	<div id="banner">
		#if ($has_navigation)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</div>
    #end

	<div id="content">

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<div id="footer">
      版权所有 ©昂科信息技术(上海)股份有限公司 2016-2018 版本：V1.8.0_180708
	</div>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

<script>
    jQuery171(document).ready(function(){
        jQuery171.ajax({
            method: "GET",
            url: "/web/guest/user-location-name/-/user/user/location-name/$user_id"
        }).done(function(msg) {
            jQuery171('#location-name').html(msg);
		});
    });

    jQuery171(".text a").click(function(){
        jQuery171(this).addClass("thisclass").siblings().removeClass("thisclass");
    });
</script>

</body>

</html>